@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/kanit/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/kanit/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/kanit/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
 
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/kanit/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}


 
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 


 
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 
.navbar .dropdown:hover>.dropdown-menu {
  display: block;
}
.navbar{
  background-color: #fcfcfc;
  border-top: 4px solid #0672b4;
  margin-bottom: 30px;
}
.navbar .navbar-nav .nav-item .nav-link{
  color: #282828;
  font-size: 18px;
  font-family: Kanit-Regular;
}
.navbar .navbar-nav .nav-item.active .nav-link,.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #f85252;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
  color: #282828;
  font-size: 18px;
  font-family: Kanit-Regular;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active,.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
  color: #f85252;
  background-color: #EDEDED;
}


.sub-h{
  background-color: #0672b4;
  padding-top: 18px;
  height: 70px;
}

.btn-regis{
   
  width: 150px;
  background-color: #ffffff;
  color: #0f5fa6;
  text-align: center;
  font-family: Kanit-Regular;
  padding: 5px 15px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 15px;
 
}
.btn-regis:hover{
  background-color: #fcfcfc;
}
.btn-regis img{
  height: 15px;
  margin-right: 5px;
}
a.cart {
  color: #fff;
  font-family: Kanit-Regular;
}
a.cart img{
  height: 22px;
  margin-left: 5px;  
}
a.cart p{
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background-color: #f85252;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0; 
  font-size: 14px;
  padding-top: 2px;
}



.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.carousel-control-prev span , .carousel-control-next span{
  padding: 12px 5px;
  background-color: rgba(234,234,234,.85);
}
.col-box3 .col-lg-4:not(:last-child) .box {
  border-right: 2px solid #0672b4 !important;
}
.col-box3 .row div .box h3{
  text-align: center;
  padding-top: 25px;
  background: linear-gradient(to bottom, #368bc0 50%, #9ed8f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-family: Kanit-Regular;
}
.col-box3 .box h5{
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
}

.tri-g{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 30px;
  border-color: transparent transparent transparent #b6dbfb;   
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -30px; 
  z-index: 99 !important; 
}
.tap-contact .boxx1{
  background-color: #b6dbfb;
  height: 100px;
  z-index: 1;
}
.tap-contact .boxx2{
  background-color: #368bc0;
  height: 100px;
  padding-left: 50px;
  padding-top: 30px;
}
.tap-contact .boxx1 h1{
  font-size: 48pt;
  color: #282828;
  font-family: Kanit-Bold;
  text-align: center;
  padding-top: 15px;
}
.tap-contact .boxx2 h3{
  text-align: center;
  color: #fff;
  display: inline;
  font-size: 30px;
  font-family: Kanit-Medium;
  margin-left: 30px;
}
.tap-contact .boxx2 img{
  height: 40px;
}
.box-menu .menux{
  padding-left: 0px;
  padding-right: 0px;

}
.box-menu .menux .h{
  background-color: #0672b4;
  border-radius: 8px 8px 0px 0px ;
  font-size: 24px;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-family: Kanit-Medium;
}
.menux ul{
  padding-left: 0px;
  list-style: none;
  background-color: #f8f8f8;
 
}
 
.menux ul li:not(:last-child) a{
  border-bottom: 1px solid #c8c8c8 !important;
}
.menux ul li:hover,.menux ul li.active{
  background-color: #e2e2e2; 
}
.menux ul li a{
  color: #4c4c4c; 
  font-size: 14px;
  font-family: Kanit-Regular;
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  padding: 10px 15px;
}
 
.menux ul li a img{
  width: 30px;
  margin-right: 15px;
}
.h3x{
  font-family: Kanit-Medium;
  font-size: 30px;
  color: #535353;
  text-transform: uppercase;
}
.h3xs{
  font-family: Kanit-Medium;
  font-size: 20px;
  color: #535353;
  text-transform: uppercase;
}
.form-xf label{
  color: #282828;
  font-family: Kanit-Medium;
  font-size: 18px;
}
.form-xf .form-control{
  height: 35px;
  border-radius: 30px;
  color: #282828;
  font-family: Kanit-Light;
  padding-top: 4px;
}
.box-inline .bbx img{
  border: 1px solid #ebebeb;
  padding: 20px;
  border-radius:6px 6px 0px 0px ;
  margin-top: 30px;
}
.box-inline .bbx img{
  border: 1px solid #ebebeb;
  padding: 20px;
  border-radius:6px 6px 0px 0px ;
  margin-top: 30px;
}
.box-inline .mx{
  background-color: #f5f5f5;
  padding: 15px;
  border-radius:0px 0px 6px 6px ;
}
.box-inline .mx h3{
  color: #000000;
  text-transform: uppercase;
  font-family: Kanit-Regular;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a.btn-rou{
  background-color: #3e91c4;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-family: Kanit-Regular;
  border-radius: 30px;
  margin: auto;
  display: block;
  width: 180px;
  padding: 8px 20px;
}
a.btn-rou:hover{  
  background-color: #c4c4c4;
}
a.btn-rou.not{  
  background-color: #c4c4c4;
}

footer{
  background-color: #0f5fa6;
}
.footer-bot{
  background-color: #b6dbfb;
  text-align: center;
  font-size: 11pt;
  color: #0f5fa6;
  font-family: Kanit-Light;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.modal .modal-body h3{
  color: #000000;
  font-family: Kanit-Medium;
  text-align: center;
  font-size: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-x{
  padding-left: 30px;
  padding-right: 30px;
}
.modal .form-group .form-control{
  background-color: #e8e8e8;
  color: #000000;
  font-family: Kanit-Light;
  font-size: 20px;
  height: 50px;
  border: none;
  border-radius: 15px;
  padding-left: 30px;
}
.modal .form-group .form-control::placeholder {
  color: #000000;
  font-family: Kanit-Light;
  font-size: 20px;
  text-transform: uppercase;
}

.submitx{
  color: #fff;
  background-color: #0672b4;
  border: none; 
  text-transform: uppercase;
  font-family: Kanit-Light;
  font-size: 18px;
  padding: 5px 25px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.submitx2{
  color: #fff;
  background-color: #0f5fa6;
  border: none; 
  text-transform: uppercase;
  font-family: Kanit-Medium;
  font-size: 28px;
  padding: 5px 55px;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.submitx img{
  height: 20px;
}
.text-log{
  color: #969696;
  font-family: Kanit-Light;
  font-size: 16px;
}
.text-log span{
  color: #0672b4;
  font-family: Kanit-Light;
  font-size: 16px;
}
.g-recaptcha div{
  display: block;
  margin: auto;
}

a.login-web{
  background-color: #ef473e;
  width: 100%;
  color: #fff;
  font-family: Kanit-Light;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  padding:12px 30px;
  display: block;
  text-transform: uppercase;
  border:1px solid #ef473e;
}
a.login-web img{
  height: 14px;
}
 

.dixd{  
  border-top:2px solid #e8e8e8;
}

.dixd h4{
  width:60px;
  margin: auto;
  margin-top:-15px;
  text-align: center;
  background:white;
  color: #e8e8e8;
  font-size: 16px;
  font-family: Kanit-Light;
  text-transform: lowercase;
}

a.login-goog{
  background-color: #fff;
  width: 100%;
  color: #000;
  font-family: Kanit-Light;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  padding:12px 30px;
  display: block;
  text-transform: uppercase;
  border:1px solid #0672b4;
}
a.login-goog img{
  height: 18px;
}
a.login-face{
  background-color: #4267b2;
  width: 100%;
  color: #fff;
  font-family: Kanit-Light;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  padding:12px 30px;
  display: block;
  text-transform: uppercase;
  border:1px solid #4267b2;
}
a.login-face img{
  height: 14px;
}
.search-form .bo1{
  width: 30%;
  float: left;
  border:none;
  border-radius: 8px 0px  0px 8px;
  color: #fff;
  font-family: Kanit-Regular;
  color: #b0adad;
  font-size: 16px;
  height: 40px;
}
.search-form .bo2{
  width: 60%;
  float: left;
  border:none;
  background-color: #e9e9e9;
  border-radius:  0px ;
  text-align: center;
  color: #b0adad;
  font-size: 16px;
  font-family: Kanit-Regular;
  height: 40px;
}
.btn-search{
  border:none;
  border-radius: 8px;
  width: 10%;
  float: left;
  height: 40px;
  margin-left: -6px;
  background-color: #ffffff;
}
.banner-top{
  background-image: url("../images/bg-top.png");
  height: 220px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.banner-top h1{ 
  color: #0f5fa6;
  font-family: Kanit-Bold;
  font-size: 60px;
  text-align: center;
  line-height: 230px;
  text-transform: uppercase;
}
.box-show-m {
  background-color: #0672b4;
  border-radius: 12px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.box-show-m h5{
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-family: Kanit-Medium;
}
.box-show-m h2{
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-family: Kanit-Medium;
}
.box-show-m h4{
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-family: Kanit-Medium;
}

.pa-h3{
  background-color: #ededed;
  color: #000000;
  font-size: 30px;
  font-family: Kanit-Medium;
  width: 100%;
  padding: 12px 25px; 
  margin-bottom: 0px;
  border-radius:18px 18px 0px 0px;
  text-transform: uppercase;
}
.box-add{
  border:2px solid #ededed;
  min-height: 500px;
  border-radius: 0px 0px 18px 18px;
  padding-bottom: 30px;
}
.warn{
  background-color: #f26666;
  color: #fff;
  font-size: 20px;
  font-family: Kanit-Regular;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tb1 table thead tr{
  background-color: #0f5fa6;
}
.tb1 table thead tr th{
  padding-left: 30px;
  font-family: Kanit-Regular;
  color: #fff;
  font-size: 22px;
}
.tb1 table tbody tr{
  background-color: #ededed;
}
.tb1 table tbody tr td{
  padding-left: 30px;
  font-family: Kanit-Light;
  color: #000;
  font-size: 18px;
}
.tb1 table tbody tr td img{
  height: 22px;
}

.form-bank .form-group{
  font-family: Kanit-Light;
  color: #000;
  font-size: 18px;
}

.form-bank .form-group input,.form-bank .form-group select{
  background-color: #ededed;
  height: 45px;
  border-radius: 14px;
  border:none;

  padding-left: 20px;
}

.form-bank2 .form-group input{
  /*background-color: #ededed;*/
  height: 45px;
  border-radius: 0px;
  border:none;
  border-bottom: 1px solid #ededed;
  padding-left: 20px;
  letter-spacing: 3px;
}
.form-bank2 .form-group{
  font-family: Kanit-Light;
  color: #000;
  font-size: 18px;
}

.text-b-art{
  color: #ff0101;
  font-size: 18px;
  font-family: Kanit-Regular;
}
.text-b-art span{
  padding-right: 30px;
}
.text-b-art a{
  color: #0f5fa6;
  font-size: 18px;
  text-decoration: underline;
  font-family: Kanit-Medium;
}


.bot-b{
 
  background-image: url("../images/bot-b.png");
 
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
 
.tb2 table thead tr{
  background-color: #ededed;
}
.tb2 table thead tr th{
  padding-left: 30px;
  font-family: Kanit-Regular;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
.tb2 table tbody tr{
  background-color: #f8f8f8;
}
.tb2 table tbody tr td{
  padding-left: 30px;
  font-family: Kanit-Bold;
  color: #000;
  font-size: 20px;
  
}
.tb2 table tbody tr td img{
  height: 22px;
}


.tb2 table tbody tr:not(:last-child) td{
  border-bottom: 1px solid #ededed;
}


.tb2 table tr:last-child th:first-child {
  border-top-left-radius: 10px;
}

.tb2 table tr:last-child th:last-child {
  border-top-right-radius: 10px;
}
.tb2 table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.tb2 table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.topup-game .topup{
  margin-top: 30px;
}
.topup-game .topup .cardx{
  background-color: #f3f3f3;
  padding: 15px;
  margin-top: -5px;
  padding-bottom: 25px;
}
.topup-game .topup .cardx h3{
  text-transform: uppercase;
  font-family: Kanit-Medium;
  color: #000;
  font-size: 22px;
  text-align: center;
  margin-top: 5px;
}
.topup-game .topup .cardx h3 a{
  color: inherit;
}

.topup-game .topup .cardx .bt1{
  color: #fff;
  background-color: #2196f3;
  font-family: Kanit-Regular;
  font-size: 12px;
  text-align: center;
  padding: 4px 16px;
  border-radius: 30px;
}
.topup-game .topup .cardx .bt2{
  color: #fff;
  background-color: #00b900;
  font-family: Kanit-Regular;
  font-size: 12px;
  text-align: center;
  padding: 4px 16px;
  border-radius: 30px;
}
.topup-game .topup .cardx .bt1 img{
  height: 14px;
  margin-right: 5px;
}
.topup-game .topup .cardx .bt2 img{
  height: 14px;
  margin-right: 5px;
}




.form-bank3 .form-group{
  font-family: Kanit-Light;
  color: #000;
  font-size: 15px;
}

.form-bank3 .form-group input,.form-bank3 .form-group select{
  background-color: #ededed;
  height: 40px;
  border-radius: 14px;
  border:none;
  text-transform: uppercase;
  padding-left: 24px;
  color: #424242;
  font-family: Kanit-Medium;
}

 
.ex-now {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.ex-now li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.ex-now label,
.ex-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ex-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.ex-now input[type="radio"]:checked+label,
.Checked+label {
  background-color: #f26666; 
  color: #fff;
}

.ex-now label {
  padding: 4px;
  background-color: #ebebeb; 
  border: 1px solid #f68e56;
  cursor: pointer;
  z-index: 90;
  border-radius: 6px;
  text-align: right;
  font-family: Kanit-Medium;
  columns: #000;
  padding-right: 45px;
}
.ex-now label:after{
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/coin.png") ;
  background-size: 15px 15px;
  top: 10px;
  background-repeat: no-repeat;
  right: 5px;
  position: absolute;
  display: inline-block;
}

.ex-now label:hover {
  background: #f26666;
  color: #fff;
}
.btn-cart{
  background-color: #f85252;
  border-radius: 8px;
  padding: 10px 10px; 
  padding-left: 8px;
  margin-left: 10px;
}
.btn-cart img{
  height: 22px;  
}


.bor-lin{
  border-radius: 6px;
  border:1px solid #ebebeb; 
}

.box-detail h3{
  font-size: 24px;
  color: #000;
  font-family: Kanit-Regular;
}
.box-detail p{
  font-size: 18px;
  color: #535353;
  font-family: Kanit-Light;
 
}

.btx1{
  color: #fff;
  background-color: #2196f3;
  font-family: Kanit-Regular;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 12px;
  width: 100%;
  display: block;
}
.btx2{
  color: #fff;
  background-color: #00b900;
  font-family: Kanit-Regular;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 12px;
  width: 100%;
  display: block;
}

.input-group input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

 
.input-group {
  clear: both; 
  position: relative;
}

.input-group input[type='button'] {
  background-color: #fff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  border:1px solid #b7b7b7;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  font-family: Kanit-Regular;
  color: #000;
  border:1px solid #b7b7b7; 
  padding-left: 25px;
}



 
.user-imgx{
  border-radius: 100%;
  width: 40px; 
  margin-left: 15px;
  float: left;
}
.user-top,.cart-div{
  width: 170px; 
  display: inline-block;
}
.user-top .dropdown-menu{
  border-radius: 0rem !important;
  padding: 0;
  min-width: 12rem;
}
 
button.listx{
  color: #fff;
  font-size: 16px;
  font-family: Kanit-Regular;
  display: inline-block;
 
}
button.listx:hover{
  color: #fff;
}
button.dropdown-toggle.listx:active{
  border: none;
}
.menup .dropdown .btn.focus{
  border: none;
}
.menup .dropdown{
  padding: 0px !important;
} 
.menup .dropdown  .dropdown-menu a.dropdown-item{
  padding-left: 15px;
  background-color: #fff;
  color: #000;
  font-family: Kanit-Regular;
  font-size: 14px;
  border-bottom: 1px solid #e2e2e2;
}
/*.menup .dropdown  .dropdown-menu a.dropdown-item:hover{
  background-color: rgba(175,0,0,.2);
 
}
*/
.menup .btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}

.menup .dropdown  .dropdown-menu a.dropdown-item:last-child{
  padding-left: 15px;
  background-color: #fff;
  color: #000;
}
 

.logoutx{
  background-color: #f85252;
  border-radius: 0px 0px 8px 8px;
  color: #fff;
  font-size: 16px;
  font-family: Kanit-Regular;
  width: 150px;
  text-align: center;
  
  position: absolute;
  top: 0; 
  margin-left: 20px;
  margin-top: 52px;
}
.logoutx a{
  color: inherit;
  display: block;
  width: 100%;
  padding: 5px 12px;
}

.box-menu .menux2{
  padding-left: 0px;
  padding-right: 0px;

}
 
.menux2 ul{
  padding-left: 0px;
  list-style: none;
  /*background-color: #f8f8f8;*/
  border-radius: 6px;
}
.menux2 ul li{
  background-color: #f8f8f8;
 
}
.menux2 ul li:hover{
  background-color: #e2e2e2; 
}
.menux2 ul li.active{
  background-color: #e2e2e2; 
}
.menux2 ul li:first-child {
  border-radius: 6px 6px 0px 0px;
}
.menux2 ul li:last-child {
  border-radius:0px 0px 6px 6px;
}
.menux2 ul li:not(:last-child) a{
  border-bottom: 1px solid #c8c8c8 !important;
}
.menux2 ul li:hover,.menux2 ul li.active{
  background-color: #e2e2e2; 
}
.menux2 ul li a{
  color: #4c4c4c; 
  font-size: 14px;
  font-family: Kanit-Regular;
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  padding: 10px 15px;
}
 
.menux2 ul li a img{
  width: 30px;
  margin-right: 15px;
}
 

.btn-loguot{
  width: 100%;
  display: block;
  font-family: Kanit-Medium;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
  background-color: #f85252;
}
.btn-loguot:hover{
  color: #fff;
}

.main-boxx{
  border: 1px solid #ebebeb;
  border-radius: 6px;
}

.img-profile{
  background-color: #0672b4; 
  padding: 15px 15px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts/FontAwesome.otf");
        
}
 
.avatar-upload {
  position: relative;
  max-width:155px;
  margin: 30px auto;
  margin-bottom: 30px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right:  4px;
  z-index: 1;
  bottom: 15px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #fff;
  border: 1px solid transparent; 
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;

}
 
.avatar-upload .avatar-edit input + label:hover {
  background: #000;
  border-color: #2A3F54;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f030";
  font-family: 'FontAwesome';
  color: #000;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 16px;
}
.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-pro h3{
  color: #fff; 
  font-size: 22px;
  font-family: Kanit-Regular;
  margin-bottom: 15px;
}
.text-pro h5{
  color: #fff; 
  font-size: 16px;
  font-family: Kanit-Regular;
  padding-top: 5px;
}
.text-pro h5.r{
  color: #000; 
  font-size: 14px;
  font-family: Kanit-Regular;
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
  text-align: center;
  width: 160px;
}

.form-ex label{
  color: #282828;
  font-family: Kanit-Medium;
  font-size: 18px;
}
.form-ex .form-control{
  height: 35px;
  border-radius: 30px;
  color: #282828;
  font-family: Kanit-Light;
  padding-top: 4px;
  background-color: #ededed;
  padding-left: 20px;
}
.txh3{
  color: #000; 
  font-size: 24px;
  font-family: Kanit-Regular;
}